.AD-Wrapper {
    display: flex;
    .icon {
        color: $maroon;
        font-size: 60px;
        padding: 8px;
        margin-right: 10px;
        box-shadow: 3px 6px 3px $navy;
    }
    h1 { 
        text-align: center; 
        margin-bottom: 0px;
    }
    h3 { margin: 0px; }
    .blank {
        max-width: 80px;
        min-width: 80px;
        color: white;
        border-right: solid 9px $navy;
    }
    .ribbon {
        text-align: center;
        background-color: $maroon;
        color: white;
        max-width: 110px;
        min-width: 110px;
        border-left: solid 4px white;
        padding: 6px;
        p {
            margin-top: 80px;
        }
        .UCP {
            font-family: 'Almendra SC', serif;
            font-size: 20px;
        }
    }
    .AD-page-columns {
        // text-align: center;
        // padding: 2em;
        padding-left: 2em;
        padding-right: 2em;
        padding-bottom: 2em;
        width: fit-content;
        .grids {
            display: grid;
            grid-gap: fit-content;
            // grid-template-columns: 1fr 1fr;
        }
        .box {
            display: grid;
            padding: 25px;
            p { 
                margin: 0px;
                margin-top: 15px; 
                
            }
            .title {
                display: flex;
                align-items: center;
            }
        }
    }
    .AD-page-sidebar {
        img {
            width: 150px;
            margin-top: 50px;
        }
    }
}
@media screen and (max-width: 780px) {
    .AD-Container {
        .ribbon { 
            display: none; 
        }
        .AD-page { 
            // border-left: solid 9px $navy; 
            // box-shadow: -10px 0px 10px 1px red;  
            box-shadow: 10px 10px 20px $maroon inset, inset 0 -80px 13px -69px $navy;   
            // border: $maroon solid 7px ;
            // border-top: $navy solid 7px;
            // border-left: $navy solid 7px;
        }
    }
}

@media screen and (max-width: 1220px) {
    .AD-page-sidebar { display: none; }
}

@media screen and (max-width: 950px) {
    .AD-Wrapper {
        .blank { 
            display: none; 
        }
        .ribbon { 
            border-right: solid 4px white; 
            border-left: solid 4px white;
            max-width: 92px;
            min-width: 92px;
        }
    }
}

@media screen and (min-width: 995px) {
    .AD-page-columns {
        padding-top: 0px;
        .grids {
            grid-template-columns: 1fr 1fr;
            // p {color: blue;}
        }
    }
}