.btn-send {
    display: flex;
    background-color: #33A0FF;
    color: $offwhite;
    font-size: 1.25rem;
    padding: 10px 40px;
    border: 1px solid #33A0FF;
    border-radius: 2px;
    outline: none;
    transition: all 0.3s;
}