.home-content-page-wrapper {
    display: flex;
    margin-top: 40px;

    img {
        width: 150px;
    }

    .blank {
        width: 104px;
        color: white;
        border-right: solid 9px blue;
    }

    .ribbon {
        text-align: center;
        background-color: $maroon;
        color: white;
        width: 125px;
        border-left: solid 4px white;
        padding: 6px;
    }

    .home-page {
        // text-indent: 3em;
        // text-align: center;
        padding: 3em;
        width: fit-content;
    }
}