.home-content-page-wrapper {
    display: flex;

    img {
        width: 150px;
        margin-top: 50px;
    }

    .blank {
        max-width: 80px;
        min-width: 80px;
        color: white;
        border-right: solid 9px $navy;
    }

    .ribbon {
        text-align: center;
        background-color: $maroon;
        color: white;
        padding: 6px;
        p {
            margin-top: 80px;
        }
        .UCP {
            font-family: 'Almendra SC', serif;
            font-size: 20px;
        }
    }

    .home-page {
        padding: 3em;
        width: fit-content;
        font-size: 18px; 
        // h1 { 
        //     color: $navy; 
        //     text-align: center;
        //     font-family: 'Oleo Script', cursive;
        //     font-size: 45px;
        //     margin: -20px;
        // }
        p {
            text-indent: 3em;
        }
        h3 {
            color: $maroon;
            text-align: center;
        }
        .motto {
            font-family: 'Marck Script', cursive;
            font-size: 20px;
            margin: -10px;
        }
        .para1 {
            // display: flex;
            align-items: center;

            h2 {
                text-align: center;
                padding: .75em;
                color: $navy;
            }
        }

        // .para2Normal {
        //     display: flex;
        //     align-items: center;
        //     .Guaranteed { color: $maroon; }
        //     h3 {
        //         text-align: center;
        //         margin: 0px;
        //         padding-left: 1em;
        //         padding-right: 1em;
        //         color: $navy;
        //     }
        // }

        .para3 {
            // display: flex;
                // text-align: center;
                // justify-content: center;
            .payFee {
                // display: flex;
                // justify-content: center;
                // padding: 1.5rem;
            }
            h4 {
                color: $navy;
                margin: 0px;
            }
            .pay { color: $maroon; }
        }
    }
}

@media screen and (max-width: 1120px) {
    .feather {
        // height: 70px;
        color: grey;
        font-size: 80px;
        padding-top: 150px;
        padding-right: 5px;
        transition: 0.5s;
    }
    .scroll {
        height: 70px;
        color: grey;
        font-size: 64px;
        padding-top: 215px;
        padding-right: 5px;
        transition: 0.5s;
    }
    .mailBulk {
        color: grey;
        transition: 0.5s;
        font-size: 75px;
        padding-top: 265px;
        padding-right: 5px;
    }
}

@media screen and (max-width: 1120px) {
    .blank { 
        display: none; 
    }
    .ribbon { 
        border-right: solid 4px white; 
        border-left: solid 4px white;
        max-width: 92px;
        min-width: 92px;
    }
    .home-page {
        border-left: solid 9px $navy;
    }
}

@media screen and (min-width: 1121px) {
    .ribbon {
        border-left: solid 4px white;
        max-width: 110px;
        min-width: 110px;
    }        
    .feather {
        color: grey;
        font-size: 125px;
        padding-top: 55px;
        padding-right: 20px;
        transition: 0.5s;
    }
    .scroll {
        color: grey;
        font-size: 100px;
        padding-top: 145px;
        padding-right: 20px;
        transition: 0.5s;
    }
    .mailBulk {
        color: grey;
        font-size: 111px;
        padding-top: 145px;
        padding-right: 20px;
        transition: 0.5s;
    }
}

@media screen and (max-width: 970px) {
    .home-page-images { display: none; }
}





@media screen and (min-width: 890px) {
    .para1 { display: flex; }
    // .para2 { display: flex; }
    .para3 { display: flex; }
}
@media screen and (min-width: 890px) {
    .home-page {
        h1 { 
            color: $navy; 
            text-align: center;
            font-family: 'Oleo Script', cursive;
            font-size: 45px;
            margin: -20px;
        }
    }
    // h4 { 
    //     width: 100px; 
    //     // padding: 1.5rem;
    // }
    .payFee { 
        padding: 1.5rem; 
        text-align: center;
        h4 { 
            width: 100px; 
            // padding: 1.5rem;
        }
    }
    .para2Normal {
        display: flex;
        align-items: center;
        .Guaranteed { color: $maroon; }
        h3 {
            // text-align: center;
            margin: 0px;
            padding-left: 1em;
            padding-right: 1em;
            color: $navy;
        }
    }
    .para2Resized { display: none; }
}
@media screen and (max-width: 889px) {
    h1 { 
        color: $navy; 
        text-align: center;
        font-family: 'Oleo Script', cursive;
        font-size: 35px;
        margin: -20px;
    }
        .para2Normal {
            display: none;
        }
        .para2Resized {
            // display: flex;
            align-items: center;
            .Guaranteed { color: $maroon; }
            h3 {
                text-align: center;
                margin: 0px;
                padding-left: 1em;
                padding-right: 1em;
                color: $navy;
            }
        }
}