.nav-title-wrapper{
    position: relative;
    text-align: center;
    color: #530000;
    font-family: Dancing Script, cursive;
    font-size: 80px;
    font-weight: bold;

    .nav-img {
        display: flex;
        justify-content: center;
        background-image: url(../../static/assets/main-imgs/Bald-Eagle.jpg);
        height: 140px;
        background-position: 50% 30%;
        background-size: cover;
        opacity: 0.25;
    }

    .nav-title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 10em;
        color: rgb(126, 10, 72);
        transition: ease-in-out 0.5s;
    }
}

.logo-position {    
	width: 180px;
	height: 140px;
	display: inline-block;
	padding: 10px;
	background: white;
    position: absolute;
    left: 50px;
    top: 111px;
	filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.5));
	/*The stamp cutout will be created using crisp radial gradients*/
	background: radial-gradient(
		transparent 0px, 
		transparent 4px, 
		$offwhite 4px,
		white
	);
  
	/*reducing the gradient size*/
	background-size: 20px 20px;
	/*Offset to move the holes to the edge*/
    background-position: -10px -10px;
    
    img {
        border: black;
        border-style: double;
    }
}


.Navigation-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background-color: $maroon;

    .right-side {
        display: flex;
        align-items: center;
    }
    
    .left-side {
        display: flex;
        height: 25px;
    }

    .nav-link-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px transparent;
        transition: 0.5s ease-in-out;
        margin-right: 20px;
        text-transform: uppercase;
        font-size: 1.25rem;
        background-color: $maroon;

        .special {
            font-style: italic;
            // font-size: 25px;
            font-weight: bold;
            letter-spacing: 2px;
            // height: 25px;
        }

        a {
            color: #F3F1F1;
            text-decoration: none;
            &:hover {
                color: white;
            }
        }
        &:hover {
            border-bottom: 3px solid white;
        }

        .nav-link-active {
            border-bottom: 3px solid white;
            color: white;   
            
        }
    }
    @media screen and (max-width: 780px) {
        .nav-link-wrapper {
            font-size: 1rem;
        }
        .right-side{
            display: none;
        }
        .Bars {
            // color: white;
            font-size: 37px;
    
            
            padding: 0;
            // width: 50px;
            border: 0;
            // background-color: #fff;
            // background-color: red;
            // color: #333;
            // color: $maroon;
            cursor: pointer;
            outline: 0;
            // font-size: 40px;
        }
        .NavBars {
            background-color: $maroon;
            color: white;
            border: none;
        }
        .dropdown {
            position: absolute;
            text-align: end;
            text-transform: uppercase;
            color: white;
            top: 215px;
            right: 0;
            width: 300px;
            z-index: 2;
            border: 1px solid rgba(126, 10, 72, 0.05);
            box-shadow: 0 16px 24px 2px rgba(126, 10, 72, 0.2);
            background-color: rgba(126, 10, 72, 0.83);
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
            }
            li {
                padding: 8px 12px;
                margin-right: 20px;
                .featherDropIcon {
                    display: none;
                }
            }
            li:hover {
                background-color: rgba(160, 79, 122, 0.9);
                // background-color: rgba(126, 10, 72, 0.9);
                // text-decoration: underline;
                margin-right: 0;
                cursor: pointer;
                .featherDropIcon {
                    display: inline;
                }
            }
            a { 
                text-decoration: none; 
                color: white;
            }
        }
    }
}

@media screen and (min-width: 780px) {

    .NavBars{
        display: none; 
        .Bars { 
            font-size: 37px;
        }
    }
    .dropdown {
        display: none;
    }
}

// @media screen and (max-width: 900px) {
@media screen and (max-width: 950px) {
    .nav-title { 
        font-size: 55px; transition: 0.5s; 
    }
    .logo-position {
        width: 140px;
        height: 100px;
        top: 114px;
        img {
            height: 95px;
            width: 134px;
        }
    }
    .Navigation-wrapper {
        padding: 18px;
        padding-right: 21px;
    }
    .nav-link-wrapper {
        a { font-size: 1rem; }
    }
}
@media screen and (max-width: 950px) {
    .logo-position {
        left: 20px;
    }
}
@media screen and (max-width: 625px) {
    .nav-title { font-size: 45px; transition: 0.5s; }
}
@media screen and (max-width: 470px) {
    .nav-title { font-size: 25px; transition: 0.5s; }
}