.Special-content-page-wrapper {
    display: flex;
    .blank {
        max-width: 80px;
        min-width: 80px;
        color: white;
        border-right: solid 9px $navy;
    }
    .ribbon {
        text-align: center;
        background-color: $maroon;
        color: white;
        max-width: 110px;
        min-width: 110px;
        border-left: solid 4px white;
        padding: 6px;
        p {
            margin-top: 80px;
        }
        .UCP {
            font-family: 'Almendra SC', serif;
            font-size: 20px;
        }
    }
    .SC-page {
        text-align: center;
        // padding: 0px;
        // padding-top: 1em;
        // padding-left: 2.5em;
        // padding-right: 5em;
        // padding-bottom: 3em;
        background: linear-gradient(to right, rgba(0, 0, 120, 0.50) 0% , rgba(126, 10, 72, 0.50) 80% );
        h1 { font-family: 'Kaushan Script', cursive; }
        // .grids {
        //     // width: fit-content;
        //     display: grid;
        //     // grid-template-columns: 1fr 1fr 1fr;
        //     grid-template-columns: 1fr 1fr;
        //     // grid-template-columns: 1fr;
        // }
        .box {
            // width: fit-content;
            // display: flex;
            padding: 30px;
            img {
                // width: 220px;
                // height: 285px;
                box-shadow: 5px 5px 5px rgb(41, 41, 41);
            }
            .text-holder {
                padding-top: 30px;
                min-width: 150px;
                // h3 { border-bottom: solid black 1px; }
                h3 { box-shadow: 0 6px 6px -6px black; }
                .learnMore {
                    .leftArrow {
                        font-size: 23px;
                        padding-right: 5px;
                        padding-left: 5px;
                    }
                    text-decoration: none;
                    padding-right: 10px;
                    font-size: 20px;
                    color: $maroon;
                    // border-bottom: solid $navy 2px;
                    box-shadow: 0 4px 6px -6px $navy;
                    &:hover {
                        // transition: ease-in-out 0.3s;
                        transition: 0.3s;
                        color: rgb(197, 0, 0);
                        background-color: rgba(255, 255, 255, 0.30);
                        box-shadow: 0 5px 5px 1px $navy;
                    }
                }
            }

            .sample-imgs {
                display: flex;
                &:hover {
                    .BattleM {
                        position: absolute;
                        margin-left: 180px;
                        transition: 1s;
                    }
                    .EagleMTN {
                        position: absolute;
                        margin-left: 360px;
                        transition: 1s;
                    }
                    .Bonavista {
                        position: absolute;
                        margin-left: 180px;
                        transition: 1s;
                    }
                    .Gorgoza {
                        position: absolute;
                        margin-left: 360px;
                        transition: 1s;
                    }
                    .Yucaipa {
                        position: absolute;
                        margin-left: 180px;
                        transition: 1s;
                    }
                    .DiscoveryBay {
                        position: absolute;
                        margin-left: 360px;
                        transition: 1s;
                    }
                    .Lehi {
                        position: absolute;
                        margin-left: 180px;
                        transition: 1s;
                    }
                    .CMC {
                        position: absolute;
                        margin-left: 360px;
                        transition: 1s;
                    }
                    .Pinedale {
                        position: absolute;
                        margin-left: 180px;
                        transition: 1s;
                    }
                    .RiverH {
                        position: absolute;
                        margin-left: 360px;
                        transition: 1s;
                    }
                }
            }
            .BattleM {
                position: absolute;
                margin-left: 40px;
                margin-top: 16px;
                transition: ease-out 2s;
            }
            .EagleMTN {
                position: absolute;
                margin-left: 80px;
                margin-top: 32px;
                transition: ease-out 2s;
            }
            .Bonavista {
                position: absolute;
                margin-left: 40px;
                margin-top: 16px;
                transition: ease-out 2s;
            }
            .Gorgoza {
                position: absolute;
                margin-left: 80px;
                margin-top: 32px;
                transition: ease-out 2s;
            }
            .Yucaipa {
                position: absolute;
                margin-left: 40px;
                margin-top: 16px;
                transition: ease-out 2s;
            }
            .DiscoveryBay {
                position: absolute;
                margin-left: 80px;
                margin-top: 32px;
                transition: ease-out 2s;
            }
            .Lehi {
                position: absolute;
                margin-left: 40px;
                margin-top: 16px;
                transition: ease-out 2s;
            }
            .CMC {
                position: absolute;
                margin-left: 80px;
                margin-top: 32px;
                transition: ease-out 2s;
            }
            .Victor {
                width: 220px;
                height: 155px;
            }
            .Pinedale {
                width: 220px;
                height: 155px;
                position: absolute;
                margin-left: 40px;
                margin-top: 16px;
                transition: ease-out 2s;
            }
            .RiverH {
                width: 220px;
                height: 155px;
                position: absolute;
                margin-left: 80px;
                margin-top: 32px;
                transition: ease-out 2s;
            }
        }
        .hiddenTitle {
            h3 { 
                box-shadow: 0 6px 6px -6px black; 
                margin-top: 2.5em;
                margin-bottom: 0;
            }
        }
    }
} 

@media screen and (max-width: 950px) {
    // @media screen and (max-width: 1120px) {
        .Special-content-page-wrapper {
            .blank { 
                display: none; 
            }
            .ribbon { 
                // border-right: solid 4px white; 
                border-left: solid 4px white;
                max-width: 92px;
                min-width: 92px;
            }
            .home-page {
                border-left: solid 9px $navy;
            }
    
        }
    }
@media screen and (min-width: 950px) {
    .ribbon {
        border-left: solid 4px white;
        max-width: 110px;
        min-width: 110px;
    }       
}

@media screen and (min-width: 1472px) {
    .Special-content-page-wrapper {
        .SC-page {
            padding-left: 2.5em;
            padding-right: 5em;
            padding-bottom: 3em;
        }
        .grids {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }
}
// @media screen and (min-width: 1471px) {
//     .Special-content-page-wrapper {
//         .SC-page {
//             padding-left: 2.5em;
//             padding-right: 3em;
//             padding-bottom: 3em;
//         }
//     }
// }

@media screen and (max-width: 780px) {
    .Special-content-page-wrapper {
        .ribbon { display: none; }
    }
}
@media screen and (max-width: 1470px) {
    .SC-page {
        padding-left: 1em;
        padding-right: 1em;
        padding-bottom: 2em;
    }
}

@media screen and (min-width: 625px) {
    .box {
        display: flex;
        // .text-holder {
        //     h3 { display: none; }
        // }
        img { 
            margin-right: 125px;                
            width: 220px;
            height: 285px;
        }
    }
    .SC-page {
        .hiddenTitle { display: none; }
    }
}
@media screen and (max-width: 625px) {
    .text-holder {
        h3 { display: none; }
    }
    .box {
        img {
            width: 170px;
            height: 235px;
        }
    }
}